<div class="jumbotron jumbotron-fluid">
  <center>
  <div class="container jumbo-container">
    <h1 class="display-4">Scrape Global Cycling Network Articles</h1>
  </div>
  </center>
</div>

<div class="container">
  {{#each articles}}
  <div class="card">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-text">{{date}}</h5>
        </div>
        <div class="col btn-row">
          <a href={{link}} class="btn btn-info watchBtn card-link" target="blank">Watch it!</a>
          <button type="button" class="btn btn-dark mx-auto save" data-id={{this._id}}>Save Video</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img class="card-img img-fluid" src="{{img}}">
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>