
	<div class="jumbotron jumbotron-fluid">
	<nav class="navbar navbar-expand">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">		
				<li class="nav-item">		
					<a class="btn" href="/">GCN News Scraper</a>
				</li>
				<li class="nav-item">
					<a class="btn" id="savedBtn" role="button" href="/saved">Saved Videos</a>
				</li>
				<li class="nav-item">
					<a class="btn" id="scrapeBtn" role="button" href="">Scrape New Videos</a>
				</li>			
			</ul>
		</div>
	</nav>
	<center>
		<div class="container jumbo-container">
			<h1 class="display-4">Scrape Global Cycling Network Videos!</h1>
		</div>
	</center>
	</div>
<div class="container">
  {{#each articles}}
  <div class="card card-fill">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
      <center>
      <div class="row date-Btn">
        <div class="col-1"></div>
        <div class="col">
          <h5 class="card-text">{{date}}</h5>
        </div>
        <div class="col">
          <a href={{link}} class="btn btn-info keep-Btn card-link" target="blank">Watch it!</a>
        </div>
        <div class="col">
          <button type="button" class="btn btn-info mx-auto save" data-id={{this._id}}>Save Video</button>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col">
          <img class="card-img" src={{img}}>
        </div>
      </div>
      </center>
      <div>
      </div>
    </div>
  </div>
  {{/each}}
</div>