<div class="jumbotron jumbotron-fluid">
    <center>
        <div class="container jumbo-container">
            <h1 class="display-4">Scrape Global Cycling Network Videos!</h1>
            <h2>Your Saved Videos!</h2>
        </div>
    </center>
</div>
<div class="container">
{{#each articles}} 
{{#if keep}}
<div class="card">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="card-text">{{date}}</h5>
            </div>      
            <div class="col btn-row">
                <a href="{{link}}" class="btn btn-info keep-Btn card-link">Watch it!</a>
                <button type="button" class="btn btn-dark mx-auto remove" data-id={{this._id}}>Remove</button>
                <button type="button" class="btn btn-secondary mx-auto addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Video Note</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="card-img img-fluid" src="{{img}}">
            </div>
        </div>
    </div>
</div> 
{{else}}
<h1>You have no saved videos :(
</h1>
{{/if}}
{{/each}}

{{!-- MODAL FOR NOTE --}}
{{#each articles}}
    {{> notes-modal }}
{{/each}}

</div>

